<form nam="myForm">
  <!-- Name -->
  <div ng-class="{error: myForm.name.$invalid && !myform.name.$pristine}">
    <label>Name</label>
    <input type="text" name="name" ng-model="editProject.project.name" required>
    <span ng-show="myForm.name.$error.required && !myform.name.$pristine">
      Required {{myForm.name.$pristine}}
    </span>
  </div>

  <!-- Website -->
  <div ng-class="{error: myForm.site.$invalid && !myform.site.$pristine}">
    <label>Website</label>
    <input type="url" name="site" ng-model="editProject.project.site" required>
    <span ng-show="myForm.site.$error.required && !myform.site.$pristine">
      Required
    </span>
    <span ng-show="myForn.site.$error.url">
      Not a URL
    </span>
  </div>

  <!-- Description -->
  <div>
    <label>Description</label>
    <textarea name="description" ng-model="editProject.project.description"></textarea>
  </div>

  <!-- action buttions -->
  <a href="#/">[Cancel]</a>
  <button ng-click="editProject.save()" ng-disabled="myForm.$invalid">Save</button>
  <button ng-click="editProject.destroy()" ng-show="editProject.project.$id">Delete</button>
</form>
